.header {
  grid-area: header;
  margin-bottom: 8rem;
  display: flex;
  justify-content: space-between;
  margin-top: -0.5rem;
}
.presentation {
  grid-area: presentation;
  background-color: #f9f8fd;
  margin-bottom: 1rem;
  margin-left: -8px;
  margin-right: -7px;
  display: flex;
  justify-content: space-between;
}
.categories {
  grid-area: categories;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
}
.categories span:hover {
  cursor: pointer;
  border: 1px solid #48464634;
  border-radius: 10px;
  padding: 11px;
  font-weight: 500;
}
.items {
  grid-area: items;
  margin-bottom: 1rem;
}
.footer {
  grid-area: footer;
  background-color: #f7f7f9;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin: 0 -8px;
}
.container {
  display: grid;
  grid-template-areas:
    "header"
    "presentation"
    "categories"
    "items"
    "footer";
  grid-template-rows: 4% 25% 4% 47% 20%;
  background-color: #fff;
}
.leftMenu {
  height: 5rem;
  margin-left: 3rem;
  padding-top: 2.5rem;
  width: 36rem;
}
.logo {
  font-family: "Dancing Script", cursive;
  font-size: 1.5rem;
}
.menus {
  width: 10rem;
  margin-left: 2rem;
  color: #484646;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.menus img {
  width: 1.5%;
}
.rightAction {
  height: 5rem;
  font-size: 1.2rem;
  padding-top: 2.5rem;
  color: #484646;
  font-family: "Montserrat", sans-serif;
  margin-right: 3rem;
}
button {
  width: 6rem;
  height: 2.6rem;
  margin-left: 1.6rem;
  border-radius: 10px;
  border: none;
  background-color: #eb4d89;
  color: #fff;
}
button:hover {
  cursor: pointer;
}
.left-side-text {
  width: 46rem;
  padding: 5rem 0 1rem 3rem;
}
.left-side-text span {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
}
.mainTitle {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 4rem;
}
.SecTitle {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: #484646;
  margin-bottom: 8rem;
}
.left-side-text button {
  margin-left: 0rem;
}
.right-img {
  padding: 5.4rem 0;
}
.right-img img {
  width: 84%;
}
.pop {
  width: 5rem;
  font-size: 1rem;
  margin-left: 2.7rem;
  border: 1px solid #48464634;
  padding: 11px 5px 0;
  text-align: center;
  height: 2rem;
  border-radius: 10px;
  color: #484646;
}
.pop:hover {
  cursor: pointer;
}
.right {
  margin-right: 5rem !important;
}
.types {
  color: #484646;
  font-size: 1rem;
  margin-top: 1rem;
}
.types span {
  margin-left: 3rem;
}
.cards {
  margin: 0 2.6rem 5rem 2.6rem;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 17rem;
  background: rgba(144, 143, 188, 0.205);
  border-radius: 10px;
  animation-name: example;
  animation-duration: 5s;
  animation-fill-mode: both;
  position: relative;
}
@keyframes example {
  from {
    top: -10rem;
    background-color: #eb4d8a33;
  }
  to {
    top: 0rem;
    background-color: rgba(144, 143, 188, 0.205);
  }
}
.animations {
  animation: mymove 2s;
  animation-fill-mode: backwards;
}

#animation1 {
  animation-timing-function: linear;
}
#animation2 {
  animation-timing-function: ease;
}
#animation3 {
  animation-timing-function: ease-in;
}
#animation4 {
  animation-timing-function: ease-out;
}
#animation5 {
  animation-timing-function: ease-in-out;
}
#animation6 {
  animation-timing-function: linear;
}
#animation7 {
  animation-timing-function: ease;
}
#animation8 {
  animation-timing-function: ease-in;
}
#animation9 {
  animation-timing-function: ease-out;
}
#animation10 {
  animation-timing-function: ease-in-out;
}
#animation11 {
  animation-timing-function: ease-in-out;
}
#animation12 {
  animation-timing-function: ease-in-out;
}
@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 300px;
  }
}
.card img {
  width: 95%;
  height: 66%;
  margin-top: 2.5rem;
}
.author {
  color: #484646;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  width: 10rem;
  height: 4rem;
  font-size: 0.9rem;
}
.author img {
  width: 25%;
}
.user {
  padding-bottom: 2rem;
  position: absolute;
  margin-top: 3.7rem;
  margin-left: 0.7rem;
}
.brand {
  width: 16.6%;
  color: #484646;
  margin-right: 7rem;
}
.brand span {
  font-family: "Dancing Script", cursive;
  font-size: 1.9rem;
  color: #eb4d89;
}
.brand p {
  font-size: 0.9rem;
  text-align: justify;
}
.offers {
  width: 16.6%;
}
.offers span {
  display: inline-block;
}
.offers ul {
  font-family: "Montserrat", sans-serif;
  padding-left: 0rem;
  color: #484646;
  line-height: 2;
  font-size: 0.7rem;
}
